
     header {
            border-radius: 5px;
            display:flex;
            justify-content: space-between;
            text-align:right;
            background: #2c3e50;
            color: white;
        }
         

    .box{
        background-image: url('./images/bg5.webp');
        background-size: cover;
        border: 2px solid black;
        border-radius: 5px;
    }
    

    h2{
text-align: center;
color: red;
    }
    :hover{
        color: tomato;
    }

    h3{
        text-align: center;
        color:violet;
    }
     :hover{
        color: lightpink;
     }
    
    .Head {
       
        background-color:none;
       color: white;
        text-align: center;
        font-family: sans-serif;
      }
      :hover{
        color: pink;
      }
      .par{
     
        background-color: none;
        border: 1px solid white;
        color: white;
        text-align: justify;
         font-family: cursive;
      }
      :hover{
        color: lightpink;
      }

      
